:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: black;
  --text-secondary: #ececec;
  --bg-primary: #81dada;
  --bg-secondary: #dad5e5;
  --transition-speed: 600ms;
  --text-success: #733e3e;
  --text-third: #6e65658c;
  --bg-success: #1c8bd692;
  --bg-third: #99dea9;
  --bg-forth: #debcdc;
  --bg-fifth: #88e9d6;
  --bg-sixth: #ff6a00;
}
body {
  margin: 0;
  height: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  /* background-image: url(./img/High_resolution_wallpaper_background_ID_77700028014.jpg); */
  background-size: cover;
  /* background-color: black; */
}
#container {
  width: 100%;
}
header {
  margin-left: 5rem;
  padding: 1rem;
  height: 50vh;
  /* color: var(--bg-success); */
  background-image: url(./img/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
header #head {
  /* position: relative; */
  /* text-align: right; */
  width: 1600px;
  margin-top: 7rem;
  margin-left: 4rem;
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
  height: 54vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: relative;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}
#navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 1s ease;
  z-index: 1000;
}
#navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
  margin: 5px 0px;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
}
.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}
.nav-link img {
  min-width: 2rem;
  margin: 0 1.5rem;
}
#navbar:hover {
  width: 16rem;
}
#navbar:hover .link-text {
  display: block;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
#logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}
#logo img {
  transform: rotate(0deg);
  animation: ease-in-out var(--transition-speed);
  min-width: 2rem;
  margin: 0 1.5rem;
}
#navbar:hover #logo img {
  transform: rotate(180deg);
}
/* small screen */
@media only screen and (max-width: 635px) {
  #navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  #logo {
    display: none;
  }

  #navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
  #main {
    margin: 0;
  }

  #navbar:hover {
    width: 100%;
  }

  #navbar:hover .link-text {
    display: none;
  }
}
/* large screen */
@media only screen and (min-width: 635px) {
  #navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  #navbar:hover {
    width: 16rem;
  }

  #navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }

  #head-logo {
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    font-size: 60px;
    color: var(--text-success);
    top: 1%;
    right: 5%;
  }
}
header #head h1 {
  font-size: 66px;
  margin-left: 3rem;
}
header #head h2 {
  margin-left: 3rem;
  font-size: 40px;
}
header #head #text {
  font-size: 30px;
  width: 1000px;
  margin-left: 3rem;
}
header #head img {
  width: 600px;
  position: absolute;
  top: 28%;
  right: 1%;
}
.divider-text-container {
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  color: var(--bg-primary);
}
.divider-text-container span {
  width: 400px;
  background-color: var(--bg-primary);
  border: 1px solid;
  height: 1px;
}
main {
  height: 100vh;
}
main input {
  width: 400px;
  height: 35px;
  border-radius: 13px;
  padding: 0 20px;
  font-size: 33px;
  border: 1px solid #1111113b;
  /* border: none; */
  margin-left: 2rem;
}
input::placeholder {
  top: 10%;
  position: absolute;
  font-size: 22px;
}
#first {
  border-bottom: 3px solid var(--bg-primary);
  width: 1600px;
  height: 150px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* position: absolute; */
  /* top:0 ; */
  margin-top: 0;
  margin-bottom: 10px;
  /* background: #688b9e; */
  /* border-radius: 10px; */
  margin-left: 10.5rem;
  margin-top: 5rem;
  position: relative;
}
#searching {
  display: flex;
  align-items: center;
  border: none;
  /* position: absolute; */
  top: 5rem;
  /* border: 1px solid black; */
}
#searching .glass {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transform: rotateY(180deg);
  border: 1px solid #1111113b;
  cursor: pointer;
  /* border: none; */
  background: white;
}
#searching .glass img {
  width: 28px;
}
#dropID {
  position: relative;
  display: inline-block;
  font-size: 22px;
  /* border: 1px solid #1111113b; */
}
#searching #dropID .dropBtn {
  width: 120px;
  height: 42px;
  font-size: 22px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 1rem;
  /* border: none; */
  background-color: white;
  border: 1px solid #1111113b;
}
.cnt_1,
.cnt_2,
.cnt_3 {
  display: none;
  position: absolute;
  min-width: 120px;
  z-index: 1;
}
#kind-cnt div {
  color: black;
  padding: 12px 16px;
  display: block;
}
.show {
  display: block;
}
#dropdown {
  display: flex;
  position: absolute;
  right: 5rem;
}
#dropdown .dropID {
  margin: 10px;
}
.dropBtn_1,
.dropBtn_2,
.dropBtn_3 {
  height: 30px;
  width: 100px;
  font-size: 22px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#second {
  margin-left: 9.5rem;
  margin-right: 0;
  display: flex;
  /* margin: auto; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 1600px;
  padding-bottom: 40px;
  /* border: 1px solid black; */
  padding: 20px;
}
.cart {
  /* width: 300px; */
  height: 280px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  color: black;  
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.265);
  color: whitesmoke;
}
.cart .txt {
  margin: 0 1rem;
  position: absolute;
  z-index: 1;
  top: 70%;
}
.cart h1 {
  font-size: 22px;
}
.cart img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  /* margin-bottom: 20px; */
}
.cart .age  {
  font-size: 22px;
  width: 100%;
  /* border: 1px solid black; */
  /* color: #3a8e8c; */
}
#second .in {
  border-radius: 10px;
}
